/afterfit_1.pdb
/afterfit_10.pdb
/afterfit_2.pdb
/afterfit_3.pdb
/afterfit_4.pdb
/afterfit_5.pdb
/afterfit_6.pdb
/afterfit_7.pdb
/afterfit_8.pdb
/afterfit_9.pdb
/fit_1.pdb
/fit_10.pdb
/fit_2.pdb
/fit_3.pdb
/fit_4.pdb
/fit_5.pdb
/fit_6.pdb
/fit_7.pdb
/fit_8.pdb
/fit_9.pdb
/lcc.mrc
/mapnew4.mrc
/powerfit.log
/solutions.out
